:root { --primary-brand: #4D5AE5;
--body-text: #434455;
--Headings: #2E2F42;}

ul {list-style: none;}

a {text-decoration: none;}

body {color: var(--body-text);
background-color: #FFFFFF;
font-family: 'roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;}

.top-logo {color: #2E2F42;
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
letter-spacing: 0.03em;}

.style-logo {color: var(--primary-brand);}

.site-nav {color: var(--Headings);
font-weight: 500;
}

.site-nav:hover,
.site-nav:focus {
    color: #434455;
}

.site-nav:active { color: var(--primary-brand)}

.site-contact {
    color: var(--body-text);
}

.site-contact:hover,
.site-contact:focus {
    color: var(--primary-brand);
}

.main-title {font-weight: 700;
    font-size: 56px;
    line-height: 1.1;}

.hero {color: #FFFFFF;
    background-color: #2E2F42;}

.button {color: #FFFFFF;
    background-color: var(--primary-brand);
    font-family: 'Roboto' sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.04em;
cursor: pointer;}

.button:active {background-color: #404BBF;}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.team {background-color: #F4F4FD;}

.main-topic {color: var(--Headings);
    font-size: 36px;
    line-height: 1.1;}

.topic {
    color: var(--Headings);
    font-size: 20px;
    line-height:1.2;
}

.our-team {background-color: #FFFFFF;}

.logo {color: #F4F4FD;;
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
letter-spacing: 0.03em;}

.bottom {background-color: #2E2F42;}

.text {color: #E7E9FC;}

.filter {color: #4D5AE5;
background-color: #F4F4FD;
font-family: 'Roboto'sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;}

.filter:hover,
.filter:focus {color: #FFFFFF;
background-color: var(--primary-brand);}

.filter:active {background-color: #404BBF;}

.paragraph {color: var(--body-text);}